
            <div class="card">
                <div class="card-header">
                    <h1>친구</h1>
                    <div class="search">
                        <div class="input-group">
                            <input type="email" class="form-control search" placeholder="Search for..." data-ng-model="friend.email">
                            <span class="input-group-btn">
                                <button class="search btn btn-secondary" type="button" data-ng-click="selectfriend()">검색</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="inBox" data-ng-show="roomon">
			            <canvas id="myCanvas"></canvas>
			        </div>
                    <table class="table table-striped">
                        <thead class="listH" style="background-color: brown; color: aliceblue">
                            <tr>
                            	<th>번호</th>
                                <th>이름</th>
                                <th>E-Mail</th>
                                <th>추천수</th>
                            </tr>
                        </thead>
                        <tbody class="listB" data-ng-repeat="rows in friend">
                            <tr data-ng-click="room($index)">
                            	<td>{{ $index + 1 }}</td>
                                <td>{{ rows.name }}</td>
						        <td>{{ rows.email }}</td>
						        <td>{{ rows.best }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
