<div class="panel panel-default">
     <div class="panel-body text-center">
         <h1>상점</h1><h4>현재 포인트 : {{point.point}}</h4>
         <div class="btn-group pull-right">
                 <button type="button" class="btn btn-success btn-filter" data-ng-click="menu(1)">타일</button>
                 <button type="button" class="btn btn-warning btn-filter"data-ng-click="menu(2)">가구</button>
         </div>
        <div class="btn-group pull-right" style="margin-right:5px">
                 <button type="button" class="btn btn-filter" data-ng-click="selectshop()">상점</button>
                 <button type="button" class="btn btn-danger btn-filter"  data-ng-click="selectmine()">내 상품 관리</button>
         </div>
         
     </div>
     <div class="item panel-footer col-md-12 text-center store">
          <div class="search">
             <div class="input-group">
                 <input type="text" class="form-control search" placeholder="상품 이름을 적어주세요." data-ng-model="shop.char">
                 <span class="input-group-btn">
                     <button class="search btn btn-secondary" type="button" data-ng-click="searchshop()">검색</button>
                 </span>
             </div>
         </div>
         <h4 data-ng-if="shop.length == 0">상품이 없습니다.</h4>
         <h1>{{}}</h1>
         <div class="col-md-2 col-sm-2 portfolio-item" data-ng-repeat="rows in shop" data-ng-if="target == rows.type">
             <img data-ng-src="{{'resources/item/' +rows.itemno + '.png'}}">
             <p>{{rows.name}}</p>
             <p>{{rows.price}}포인트</p>
             <button class="btn btn-success" data-ng-click="additem($index)" data-ng-show="shopbool">구매</button>
             <button class="btn btn-success" data-ng-hide="shopbool"  data-toggle='modal' data-target='#myModal' data-ng-click="update($index)">수정</button>
             <button class="btn btn-success" data-ng-click="updel($index)" data-ng-hide="shopbool">삭제</button>
         </div>
        
     </div>
     <div id='myModal' class='modal fade text-center' role='dialog'>
          <div class='modal-dialog'>
              <div class='modal-content'>
                  <div class='modal-header'>
                      <button type='button' class='close' data-dismiss='modal'>&times;</button>
                      <h3>수정</h3>
                  </div>
                  <form>
	                   <div class='modal-body'>
	                      <input class='input-info' placeholder='가격을 입력해주세요' type='text' data-ng-model="price">
	                   </div>
                   <div class='modal-footer'>
                       <button type="button" class='btn btn-danger' data-dismiss='modal' style='background-color: #b1b1b1; border: none;'  data-ng-click="upshop(index)">저장</button>
                   </div>
                  </form>
              </div>
          </div>
      </div>
 </div>
